{{ define "main" -}}
<div class="gd-404 text-center">
  <header class="gd-404__header">
    <p class="gd-404__pretitle">404 Page</p>
    <h1 class="gd-404__title">Ohh, there is nothing in here!</h1>
  </header>

  {{ if and (isset .Site.Params "404") (isset (index .Site.Params "404") "links") }}
    <div class="gd-404__suggest">
      <h2 class="gd-404__subtitle">But you can try:</h2>
      <ul class="gd-404__links">
        {{ range index (index .Site.Params "404") "links" }}
          <li>
            <a href="{{ .link }}" class="gd-404__link"><span>{{ .title }}</span></a>
          </li>
        {{ end }}
      </ul>
    </div>
  {{ end }}
</div>
{{- end }}
